<!DOCTYPE html>
<html>
<head>
  <title>TPTag</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
</head>
<body>
  <div id="console">
    <ol id="messages"></ol>
  </div>  
  <input type="text" id="userInput"></input>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/tptag.js"></script>
</body>
</html>
